# Virtual environments
venv/
.venv/
Frontend/venv/
Backend/venv/
*/venv/
# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Windows shortcuts
*.lnk

# Data (OPTIONAL — only if you don't want CSVs in repo)
# data/
data/data-final.csv.
# Logs
*.log
